body {
margin: 0;
padding: 0;
}

.sky {
    background-image: url("./sky.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.road {
    background-image: url("./road.jpg");
    width: 500%;
    height: 200px;
    position: absolute;
    bottom:0px;
    animation: road 5s linear infinite;
    
}

@keyframes road {
    100% {
        transform: translateX(-1800px);
    }
}

.city {
    background-image: url("./city-removebg-preview.png");
    background-repeat: repeat-x;
    width: 500%;
    height: 300px;
    position: absolute;
    bottom: 100px;
    animation: city 8s normal infinite linear;
}

@keyframes city {
    100% {
        transform: translateX(-1800px);
    }
}

.flight {
    height: 350px;
    width: 550px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./flight-removebg-preview.png");
    background-position: center;
    position: absolute;
    z-index: 3; 
    bottom: 20px;
    animation: flight 2s infinite linear;
}

@keyframes flight{
    0%{
       transform: translateY(-1px);
   }
   30%{
       transform: translateY(1px);
   }  
   100%{
       transform :translate(1200PX,-350PX);
   }
}
   
.sun {
    background-image: url("./sun-removebg-preview.png");
    background-position: center;
    background-repeat: repeat-x;
    position: absolute;
    height: 280px;
    width: 500%;
    top: 10px;
    animation: sun 8s infinite linear;
}

@keyframes sun {
    100% {
        transform: translateX(-100px);
    }
}



























